<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Zeichenkodierung und Darstellung der Website angepasst an den Bildschirm -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tkinter Plot</title>
</head>
<body>
    <h1>Tkinter Plot</h1>

    <!-- Hier wird das Plot-Bild angezeigt -->
    <img src="{{ url_for('update_and_plot') }}" alt="Plot" id="plotImage">

    <!-- Buttons für die Optionen -->
    
    <br>
    <button onclick="updateAndPlot()">Live-Daten aktualisieren</button>
    <br>
    <button onclick="csvdownload()">CSV Download</button>


     
    <!-- JavaScript-Code, welcher beim Aufrufen der jeweiligen Buttons durchgeführt wird -->
    <script>
        function csvdownload(){
            fetch("http://141.22.36.248/download_csv")
                .then(response => response.text())
                .then(csvData => {
                    var blob = new Blob([csvData], { type: 'text/csv' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'daten.csv';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                })
                .catch(error => console.error('Fehler beim Herunterladen der CSV:', error));
        }

        function updateAndPlot() {
            // Hier AJAX-Aufruf für '/update_and_plot'
            // Aktualisiere das Plot-Bild
            updatePlotImage();
        }

        function updatePlotImage() {
            // Aktualisiere das Plot-Bild, indem die 'src'-Eigenschaft des Bild-Elements geändert wird
            document.getElementById('plotImage').src = "{{ url_for('update_and_plot') }}?" + new Date().getTime();
        }

     
    </script>
</body>
</html>
